.bpafb-tb-post-content p:last-child {
	margin-bottom: 0;
}

.bpafb-tb-post-content.bpafb-has-drop-cap > p:first-of-type::first-letter {
	float: left;
	font-size: 3.5em;
	line-height: 0.8;
	font-weight: 700;
	margin: 0.05em 0.1em 0 0;
}
