.bpafb-item-list__actions {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	margin-bottom: 16px;
}

.bpafb-item-list__actions-group .components-button {
	min-width: 32px;
	height: 32px;
}
