.bpafb-toc-editor__tags {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 4px 8px;
}

.bpafb-toc-editor__tags .components-base-control {
	margin-bottom: 0;
}

.bpafb-toc-editor__collapse {
	padding: 4px;
	color: inherit;
	background: none;
	border: 0;
	cursor: pointer;
}

.bpafb-toc-editor__note {
	margin: 0 0 10px;
	font-size: 12px;
	font-style: italic;
	opacity: 0.7;
}
