.bpafb-tb-tags {
	display: block;
}

.bpafb-tb-tags a {
	color: inherit !important;
	text-decoration: none !important;
}

.bpafb-tb-tags .bpafb-tb-tag-sep {
	display: inline-block;
}

.bpafb-tb-tags.bpafb-tags-badge {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	align-items: center;
}

.bpafb-tb-tags.bpafb-tags-badge .bpafb-tb-tag-badge {
	display: inline-block;
	padding: 2px 12px;
	border-radius: 999px;
	background-color: rgba( 0, 0, 0, 0.06 );
	font-size: 0.85em;
	line-height: 1.6;
	text-decoration: none !important;
}

.bpafb-tb-tags.bpafb-tags-badge .bpafb-tb-tag-badge:hover {
	background-color: rgba( 0, 0, 0, 0.12 );
	text-decoration: none !important;
}

.bpafb-tb-tags-placeholder {
	color: #757575;
	font-size: 13px;
}
